.hero {
  background-image: url("../../imgs/bgalt2.jpg");
  min-width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-repeat: repeat-y;
  opacity: 0.9;
  margin: 0px;
  padding: 0px;
}
