body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#aboutContainer {
  margin: 10%;
}

#contactContainer {
  align-items: center;
  justify-content: space-around;
  display: auto-flex;
  padding: 10%;
  padding-top: 5%;
}
#contactHeader {
  margin: 10%;
  color: white;
}
