body {
  margin: 0;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#aboutContainer {
  align-items: center;
  justify-content: space-around;
  display: auto-flex;
  padding: 10%;
  margin-top: 0%;
}

#contactContainer {
  align-items: center;
  justify-content: space-around;
  display: auto-flex;
  padding: 10%;
  padding-top: 5%;
}
#contactHeader {
  color: white;
}
